.register__heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: var(--mint-color);
}

.register__form {
  width: 70%;
  margin: 0 auto;
}

.register__form-group {
  margin-bottom: 10px;

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }
}

p {
  color: #fff;
}

span {
  color: var(--mint-color);
}
