.register__heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: var(--mint-color);

  p {
    margin-top: 10px;
    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }
}

.register__form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.register__form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }
}

p {
  color: #fff;
}

span {
  color: var(--mint-color);
}
