@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Space Grotesk', sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #284b52;
  /* --mint-color2: #4de2bc; */
  --mint-color: #01c38d;
  --lightGray-color: #e4e4e4;
  --background-color: #222;
  --brown-color: #46364a;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
