@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #edf2f8;
  --secondary-color: #3b684d;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #23262b;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
