.home {
  background-color: #222;
  color: #4de2bc;
  min-height: calc(100vh - 109px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__top {
  display: flex;
  width: 100%;
}

.home__top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  img {
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
  }
}

.home__top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 50px;
}
