.transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: var(--white-color);
  width: 100%;
  border-radius: 5px;

  .transactions__header {
    color: var(--mint-color);
    padding-top: 15px;
  }

  .transaction__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;

    h2,
    h3 {
      text-align: center;
    }
  }
}
