.transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: var(--white-color);
  width: 100%;
  border-radius: 5px;

  .transactions__header {
    color: var(--mint-color);
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1200px) {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .transaction__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
    position: relative;

    .item__left {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    .item__center {
      position: absolute;
      right: 100px;

      h3 {
        font-size: 1.1rem;
      }
    }

    .item__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--mint-color);
      position: absolute;
      right: 20px;
    }
  }
}
