.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // position: fixed;
  // z-index: 2;
  background-color: var(--background-color);
  color: var(--mint-color);
}

.navbar__left {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
  }
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
  }

  ul {
    display: flex;
  }

  li,
  a {
    list-style: none;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
  }

  li:last-child {
    list-style: none;
    background-color: var(--mint-color);
    color: var(--background-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
