.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100;
  position: fixed;
  z-index: 2;
  background-color: var(--background-color);
  color: var(--mint-color);
}
