.charities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 20px 0;
  width: 100%;
  border-radius: 5px;

  .summary {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mint-color);

    h2 {
      margin: 10px 0;
    }

    p {
      color: #fff;
    }
  }
}

.charity__tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    height: 50px;
    width: 50px;
    color: rgb(64, 139, 64);
  }
}

.charity__water {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    height: 50px;
    width: 50px;
    color: rgb(27, 69, 255);
  }
}
